
 *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "open Sans", "sans-serif";
    /* background-color: black; */
    

}
ul {
    list-style: none;
    
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}


/* start header */

.container{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
@media (max-width:678px) {
    .header{
        width: 100%;
    }
}
.container img {
    width: 70px;
}
@media (max-width:678px) {
    .container img {
        width: 45px;
        margin-top: 10px;
    }
}
.container ul li{
    display: inline-block;
    margin: 5px 10px;
}

@media (max-width:678px) {
    .container ul li{
        margin: 3x 4px;
    }
}

.container ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 1s;
}
@media (max-width:678px) {
    .container ul li a{
        font-size: 15px;
    }
}

.container ul li a:hover{
    transform: scaleX(1.2);
}
/* end header */
/* start content */
.content{
display: flex;
justify-content: space-between;
align-items: center;
 width: 80%;
margin: auto;

}
@media (max-width:678px) {
    .content{
        width: 100%;
    }
}
.content .box{
    color: white;
    width: 40%;
}
@media (max-width:678px) {
    .content .box{
        width:60% ;
        margin-top: 40%;
        margin-left: 5px;
        margin-right: 10px;
    }
}

.content .box h2 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 600;
}
@media (max-width:678px) {
    .content .box h2{
        font-size: 20px;
    }
}
.content .box p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.2;
}
@media (max-width:678px) {
    .content .box p{
        font-size: 16px;
    }
}
.content .box button{
    all: unset;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 18px;
    /* transition: 0.5s; */
}
.content .box button:hover{
    transition: 0.5s;
    cursor: pointer;
}
.content .photo img{
width: 280px;
margin-top: 30%;
}
@media (max-width:678px) {
    .content .photo img{
        width:100px ;
        margin-top: 70%;
    }
}

.image{
    position: absolute;
    bottom: 20px;
    left:40%;
    transform: translateX(-50%);
    transition: 0.5s;
}
@media (max-width:678px) {
    .image{
 left: 50%;
 top: 40%;
 display: flex;
 align-items: center;
 justify-items: center;
 gap:4px;
    }
}
.image img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* end content */
